/* Terminal-like font */
body {
  font-family: monospace;
  background-color: black;
  color: white;
}

#header {
    font-family: monospace;
    color: white;
}

/* Sidebar */
.sidebar {
  height: 100%;
  position: fixed;
  overflow: auto;
  /* sidebar should cover 10% of screen, rest main */
  width: 10%;
  border: 2px solid white;
  padding: 20px;
}
/* Links */
.sidebar a {
  padding: 4% 4% 4% 16%;
  text-decoration: none;
  font-size: 16px;
  display: block;
  color: #66ae60;
}
.sidebar a:hover {
  color: #f1f1f1;
}

.sidebar a:current {
  border: dotted;
}

/* Main content */
.main {
  margin-left: 15%;
  padding: 20px;
  border: 2px solid white;
  width: 80%;
  color: #66ae60;
}


.contact {
  margin-left: 15%;
  padding: 20px;
  border: 2px solid white;
  width: 80%;
  color: #66ae60;
}

.socials {
  margin-left: 15%;
  padding: 20px;
  border: 2px solid white;
  width: 80%;
  color: #66ae60;
}

.name {
    margin-left: 15%;
    margin-bottom: 30px;
    padding: 20px;
    border: 2px solid white;
    width: 80%;
    max-height: 150px;
}

img {
    max-width:100%;
    max-height: inherit;
    object-fit: cover;
}

.main .inner .image {
    max-width:100%;
    max-height: inherit;
    object-fit: cover;
}

.socials .inner ul li {
  list-style-type: none;
  display: inline-block;
  margin-right: 20px;
}
.icon::before {
  display: inline-block;
  font-style: normal;
  font-variant: normal;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
}
.facebook::before {
  font-family: "Font Awesome 5 Brands";
  font-weight: 900;
  content: "\f09a";
}
.twitter::before {
  font-family: "Font Awesome 5 Brands";
  content: "\f099";
}
.mastodon::before {
  font-family: "Font Awesome 5 Brands";
  content: "\f4f6";
}
.google-plus::before {
  font-family: "Font Awesome 5 Brands";
  content: "\f2b3";
}
.instagram::before {
  font-family: "Font Awesome 5 Brands";
  content: "\f16d";
}
.pinterest::before {
  font-family: "Font Awesome 5 Brands";
  content: "\f0d2";
}
.500px::before {
  font-family: "Font Awesome 5 Brands";
  content: "\f26e";
}
.gitlab::before {
  font-family: "Font Awesome 5 Brands";
  content: "\f296";
}
.github::before {
  font-family: "Font Awesome 5 Brands";
  content: "\f113";
}
.slack::before {
  font-family: "Font Awesome 5 Brands";
  content: "\f198";
}
.linkedin::before {
  font-family: "Font Awesome 5 Brands";
  content: "\f08c";
}

/* Style inputs with type="text", select elements and textareas */
input[type=text], select, textarea {
  width: 100%; /* Full width */
  padding: 12px; /* Some padding */
  border: 1px solid #ccc; /* Gray border */
  border-radius: 4px; /* Rounded borders */
  box-sizing: border-box; /* Make sure that padding and width stays in place */
  margin-top: 6px; /* Add a top margin */
  margin-bottom: 16px; /* Bottom margin */
  resize: vertical; /* Allow the user to vertically resize the textarea (not horizontally) */
  background-color: inherit;
}

/* Style the submit button with a specific background color etc */
.special {
  background-color: #66ae60;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-family: monospace;
}

.contact .inner .actions {
  padding: 0;
}


/* When moving the mouse over the submit button, add a darker green color */
.special:hover {
  background-color: #45a049;
}


/* #### Mobile Phones Portrait or Landscape #### */
@media screen and (max-device-width: 900px){
  /* some CSS here */
    .sidebar {
        width: inherit;
        margin-bottom: 30px;
       height: auto;
        position: relative;
        padding: 20px;
    }
    .sidebar a {
        float: left;
        padding: 10px;
    }
    .main {
        margin-left: 0;
        width: inherit;
        font-size: 20px;
    }
    .name {
         margin-left: 0;
         width: inherit;
     }
     .contact {
       margin-left: 0;
       width: inherit;
    }
    .socials {
      margin-left: 0;
      width: inherit;
    }
}

@media screen and (max-width: 900px){
  /* some CSS here */
    .sidebar {
        width: inherit;
        margin-bottom: 30px;
       height: auto;
        position: relative;
        padding: 20px;
    }
    .sidebar a {
        float: left;
        padding: 10px;
    }
    .main {
        margin-left: 0;
        width: inherit;
        font-size: 20px;
    }
    .name {
         margin-left: 0;
         width: inherit;
     }
     .contact {
       margin-left: 0;
       width: inherit;
    }
    .socials {
      margin-left: 0;
      width: inherit;
    }
}


/* #### Desktops #### */
@media screen and (min-width: 1024px){
  /* some CSS here */
}
